<table><tr><td>
<h2>Mobiles</h2>
<h4><ul>
  <li><a href=""> Rog Phone II</a></li>
  <li><a href="">Redmi K20 Pro</a></li>
  <li><a href="">Samsung S10 Plus</a></li>
</ul></h4><br>

<h2>Laptops</h2>
<h4>
<ul type="square">
  <li><a href="">Asus Vivobook</a></li>
  <li><a href="">Dell Inspiron</a></li>
  <li><a href="">Hp Envy</a></li>
</ul></h4>
<br>
<br>
<br><marquee bgcolor=""><b>Flash Sale! </b></marquee>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->